<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
  <title>About</title>
  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: black;">
  <div id="a" class="container-fluid bg-img" > <br>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;margin-top: 20px;">
<a class="navbar-brand" href="#">FITNESS</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" href="web">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="admissionform">Admission form</a>
        <a class="dropdown-item" href="feedback">Feed back</a>
      </div>
    </li>
  </ul>
  
  </form>
</div>
</nav><br><br>
<div>
<h1 style="text-align: center;color: red;font-size: 50px;font-style: oblique;">FITNESS</h1>
</div><br>
<div>
    <h2 style="color: aliceblue;font-size: 30px;text-align: center;font-style: oblique;">OUR STORY</h2><br>
    <p1 style="text-align: center;color: aliceblue;font-size: 20px;margin-left: 100px;margin-right: 100px;">At Gym and Fitness, we believe that fitness and wellbeing are the cornerstones of a full and vibrant life. Established in 2002, we began our journey as a family-owned business dedicated to providing exceptional gym equipment at affordable prices. But, we dreamed bigger than just being an ordinary fitness equipment supplier; we aspired to lead the industry.</p1><br><br>
<p2 style="text-align: center;color: aliceblue;font-size: 20px;margin-left: 100px;margin-right: 100px;">Two decades later, we are proud to have transformed Gym and Fitness into one of Australia's premier online retailers of fitness equipment. We've moved beyond just supplying gear – we've become advocates for fitness, wellbeing and life enrichment. Our commitment to excellence is reflected not only in the quality equipment we provide but also in the lives we've improved.</p2>
</div><br><br>

<div>
    <h2 style="color: aliceblue;font-size: 30px;text-align: center;font-style: oblique;">OUR PEOPLE</h2><br>
    <p1 style="text-align: center;color: aliceblue;font-size: 20px;margin-left: 100px;margin-right: 100px;"> Gym and Fitness is powered by a vibrant team of over 50 extraordinary individuals - our success springs from their collective efforts!

        Our team, a diverse mix of exceptional talent, work tirelessly to ensure your experience is unparalleled. They're the gears behind our operations - from sales, marketing and e-commerce, customer service, warehousing, finance, human resources, to R&D and management.</p1><br><br>
       </div>  
       <div style="float: left; margin-left: 45%;"> <button type="button" id="add"   class="btn btn-primary"  onclick="document.location='admission form.html'">Join us</button></div></div>
<footer style="margin-top: 50px;">
    <div style="float: left;padding-left: 20px;height: 300px;">
      <h3 style="color: aliceblue;">Addrtess:</h3>
      <p1 style="color: aliceblue;">xxxxxx</p1><br>
      <p2 style="color: aliceblue;">xxxxxx</p2><br>
      <p3 style="color: aliceblue;">dhdsn@gmail.com</p3><br>
      <p5 style="color: aliceblue;">9499456892</p5>
    </div>
    <div style="float: left;padding-left: 20%;">
      <h3 style="color: aliceblue;">Menu</h3>
      <a href="web" style="color: aliceblue;">Home</a><br>
      <a href="about" style="color: aliceblue;">About</a><br>
      <a href="admissionform" style="color: aliceblue;">AdmissionForm</a><br>
      <div style="margin-left: 500px;text-align: right;color: aliceblue;">
        <h3 style="font-style: oblique;">Follow us:</h3>
      <i class="fa fa-twitter" style="font-size:20px"></i>
      <i class="fa fa-instagram" style="font-size:24px"></i>
      <i class="fa fa-facebook-f" style="font-size:24px"></i>
      <i class="fa fa-youtube-play" style="font-size:24px"></i>
  
    </div>
    
  </footer>
</body>
</html>
  </body>
  
  </html>