<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>HOME</title>
  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .a{
   background-image: url('{% static "img2.jpg"%}');
          width: 100%;
         height: 100%;
         padding-bottom: 100px;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
  }
</style>
<body style="background-color:black;">

<div  class=" a container-fluid bg-img" > <br>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;margin-top: 20px;">
  <a class="navbar-brand" href="#">FITNESS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="web">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="admissionform">Admission form</a>
          <a class="dropdown-item" href="feedback">Feed back</a>
        </div>
      </li>
    </ul>
      
    </form>
  </div>
</nav>
<div>
    <p style="text-align: center; font-family: Tahoma, sans-serif;color: aliceblue; margin-top: 100px;font-size: 100px;"><a style="font-size: 100px;color: red;font-style: italic;">FITNESS</a> WOUNDER</p>
    <div style="margin-left: 65%;">
    <p1 style="text-align:right; color: aliceblue;font-size: 30px;font-style:  Lucida Bright;"><a style="color: red;font-style: italic;font-size: 50px;">Lacking</a> motivation to get back into the <a style="font-size: 50px;font-style: italic ;color: red;">GYM?</a> </p1><br>
    <p2 style="color: aliceblue;text-align: right;">Get at least 150 minutes of moderate aerobic activity. Or get at least 75 minutes of vigorous aerobic activity a week. You can also get an equal mix of the two types. Aim to exercise most days of the week.
    </p2></div><br>
    <button type="button" id="add" style="margin-left: 80%;"  class="btn btn-primary" onclick="document.location='admissionform'">Join us</button>
</div></div><br>
<div>
  <div class="slideshow-container">

    <div class="mySlides ">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'img03.jpg' %}" style="width:100%">
      <div class="text" style="color: black; font-style: oblique; font-size: 20px;"><button class="btn btn-dark" onclick="document.location='admissionform'">zumba</button></div>
    </div>
    
    <div class="mySlides ">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'img02.jpg' %}" style="width:100%">
      <div class="text" style="color: black; font-style: oblique; font-size: 20px;"><button class="btn btn-dark" onclick="document.location='admissionform'">strength training</button></div>
    </div>
    
    <div class="mySlides ">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'img01.jpg' %}" style="width:100%">
      <div class="text" style="color: black; font-style: oblique; font-size: 20px;"><button class="btn btn-dark" onclick="document.location='admissionform'">Yoga</button></div>
    </div>
    <div class="mySlides ">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'img04.jpg' %}" style="width:100%">
      <div class="text" style="color: black; font-style: oblique; font-size: 20px;"><button class="btn btn-dark" onclick="document.location='admissionform'">Cross fit</button></div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
      <span class="dot" onclick="currentSlide(4)"></span> 
    </div>
    </div>
  <div id="back" style="padding-top: 40px;">
<form action="addata" method="POST" autocomplete="off">
                           {% csrf_token %}
  <div class="container">
    <h1 style="color: red;font-style: italic;font-size: 40px;">Register</h1>
    <p style="color: aliceblue;">Please fill in this form to create an account.</p>
    <hr>
    <label for="email" style="color: red;"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name"  required>
    <label for="psw" style="color: red;"><b>Contact</b></label>
    <input type="text" placeholder="Enter contact number" name="contact" id="psw" required>
    <label for="email" style="color: red;"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw" style="color: red;"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Psw" id="psw2" required>

    <label for="psw-repeat" style="color: red;"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw2" id="psw-repeat" required>
    <hr>

    <p style="color: aliceblue;">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>


</form>
</div><br><br>



              

<footer style="margin-top: 50px;">
  <div style="float: left;padding-left: 20px;height: 300px;">
    <h3 style="color: aliceblue;">Addrtess:</h3>
    <p1 style="color: aliceblue;">xxxxxx</p1><br>
    <p2 style="color: aliceblue;">xxxxxx</p2><br>
    <p3 style="color: aliceblue;">dhdsn@gmail.com</p3><br>
    <p5 style="color: aliceblue;">9499456892</p5>
  </div>
  <div style="float: left;padding-left: 20%;">
    <h3 style="color: aliceblue;">Menu</h3>
    <a href="web" style="color: aliceblue;">Home</a><br>
    <a href="About" style="color: aliceblue;">About</a><br>
    <a href="admissionform" style="color: aliceblue;">AdmissionForm</a><br>
    <div style="margin-left: 500px;text-align: right;color: aliceblue;">
      <h3 style="font-style: oblique;">Follow us:</h3>
    <i class="fa fa-twitter" style="font-size:20px"></i>
    <i class="fa fa-instagram" style="font-size:24px"></i>
    <i class="fa fa-facebook-f" style="font-size:24px"></i>
    <i class="fa fa-youtube-play" style="font-size:24px"></i>

  </div>
  </div>
  
 </footer>


<script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
  </script>
</body>

</html>
        